@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.HomePage-Overlay {
    font-family: Poppins;
    font-weight: bold;

    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url('../../Images/majestic-mountain-peak-back-lit-by-sunset-generated-by-ai 1.png');
    background-color: #000000;
    background-size: cover;
    background-position: top center;

    transition: opacity 6s ease;
}

.HomePage-Navbar {

    width: 100vw;
    height: 75px;

    color: white;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.HomePage-Navbar-Items {
    width: 40vw;

    font-size: 1.2rem;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;

}

.HomePage-Navbar-Logo {
    width: 180px;
    /* height: 90px; */
}

.HomePage-Navbar-Items-Dashboard-Button {
    background-color: #AB745A;
    height: 100%;
    border-radius: 20px;

    /* height: 30px; */

    display: flex;
    align-items: center;
    justify-content: center;

    /* margin: 5px; */
}

.HomePage-Navbar-Items-Dashboard {
    width: 130px;
    height: 30px;
    align-self: flex-start;
}

.HomePage-Navbar-Items-Dashboard-Text {
    /* padding: 5px; */
    /* margin: 5px; */
}

.HomePage-Overlay-Content {
    width: 100vw;
    height: 80vh;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;

}

.HomePage-Overlay-Content-Element {
    width: 50%;
    height: 100%;
    /* background-color: red; */

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.HomePage-Overlay-Text {
    /* background-color: black; */
    margin-left: auto;
    color: #FFFFFF;

    height: 40vh;
    width: 60%;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
}

.HomePage-Overlay-Text-Title {
    font-size: 5rem;
}

.HomePage-Overlay-Text-Title-Color {
    color: #AB745A;
}

.HomePage-Overlay-Text-Button {
    width: 25%;
    height: 30px;
    
    margin-top: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #AB745A;

    border-radius: 20px;
}

.HomePage-Overlay-Picture {
    width: 80%;

    margin-left: 5vw;
}

.scroll-indicator {
    position: fixed;
    bottom: 20px; /* Adjust the distance from the bottom as needed */
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
    opacity: 0.7;
  }
  
  .arrow {
    display: block;
    width: 40px; /* Adjust the size of the arrow */
    height: 40px;
    border: solid #fff; /* Arrow color */
    border-width: 0px 4px 4px 0; 
    transition: transform 0.3s ease;
    animation: bounce 2s infinite;
  }
  
  /* Define the bounce animation */
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0) rotate(45deg);
    }
    40% {
      transform: translateY(8px) rotate(45deg); /* Adjust the bounce height */
    }
    60% {
      transform: translateY(3px) rotate(45deg); /* Adjust the bounce height */
    }
  }


.HomePage-Plans {

    /* width: 100vw; */
    height: 93vh;

    background-color: #683F29;

}

.HomePage-Contact {
    background-color: #C9B79C;

    height: 7vh;
}